In [67]:
import pandas as pd

#importing the dataset
data=pd.read_excel('X:/stuff/Curneu MedTech/Signal/Signal Database.xlsx')

#viewing the file
data.head()

In [96]:
#declaring and storing first column for future use as the header is not properly read
change=data.columns[0]
#changing the header of the column by moving first row and appending change
data.columns=[change]+list(data.iloc[0,:][1:])
#viewing the new columns
print(data.columns)

SUBJECT NUMBER
Index(['SUBJECT NUMBER', 'GROUP', 'GENDER', 'AGE', 'RIGHT HANDED?', 'HEALTHY*',
       'GLASSES', 'SMOKER', 'MEDICAL TREATMENT', 'MEDICINE / SUPPLEMENTS',
       'TRANSFER RATE', 'TEST TYPE', 'TEST NAME', 'NUMBER OF EVENTS',
       'EVENT DURATION (ms)', 'SESSION DATA', 'STEADY-STATE TIME (s)',
       'TEST DURATION  (s)'],
      dtype='object')

In [97]:
#removing the first row as it is now the new header
data.drop(data.index[0], inplace=True)
#viewing the dataset now
data.head()

,SUBJECT NUMBER,GROUP,GENDER,AGE,RIGHT HANDED?,HEALTHY*,GLASSES,SMOKER,MEDICAL TREATMENT,MEDICINE / SUPPLEMENTS,TRANSFER RATE,TEST TYPE,TEST NAME,NUMBER OF EVENTS,EVENT DURATION (ms),SESSION DATA,STEADY-STATE TIME (s),TEST DURATION (s)
1,1,A,MALE,48,NO,YES,YES,NO,YES,YES,128,VISUAL,IMAGE SEARCH,5,250,A001SV1_1.EDF,5,96
2,1,A,MALE,48,NO,YES,YES,NO,YES,YES,128,VISUAL,FIVE BOX 1,20,250,A001SB1_1.EDF,5,71
3,1,A,MALE,50,NO,YES,YES,NO,YES,YES,128,MOTOR IMAGES,HAND SHAKE,6,5000,A001SM1_1.EDF,25,46
4,2,A,MALE,22,YES,YES,NO,NO,NO,NO,128,VISUAL,FIVE BOX 1,20,250,A002SB1_1.EDF,5,67
5,2,A,MALE,22,YES,YES,NO,NO,NO,NO,128,VISUAL,FIVE BOX 2,20,250,A002SB2_1.EDF,5,70

In [98]:
#counting the gender value 
data['GENDER'].value_counts()

MALE    84
FEM     57
Name: GENDER, dtype: int64

In [99]:
data.shape
#viewing the tail of the dataset
data.tail()

,SUBJECT NUMBER,GROUP,GENDER,AGE,RIGHT HANDED?,HEALTHY*,GLASSES,SMOKER,MEDICAL TREATMENT,MEDICINE / SUPPLEMENTS,TRANSFER RATE,TEST TYPE,TEST NAME,NUMBER OF EVENTS,EVENT DURATION (ms),SESSION DATA,STEADY-STATE TIME (s),TEST DURATION (s)
139,30,A,FEM,22,YES,YES,NO,YES,NO,NO,128,VISUAL,FIVE BOX 3,20,250,A030SB3_1.EDF,5,60
140,30,A,FEM,22,YES,YES,NO,YES,NO,NO,128,MOTOR IMAGES,HAND SHAKE,6,5000,A030SM1_1.EDF,9,34
141,30,A,FEM,22,YES,YES,NO,YES,NO,NO,128,VISUAL,IMAGE SEARCH,5,250,A030SV1_2.EDF,5,72
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,* a non-healthy individual was non eligible to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
#dropping last two rows as it consists of improper and null value 
data.drop(data.index[[141,142]], inplace=True)

In [101]:
#viewing the new tail of the dataset
data.tail()

,SUBJECT NUMBER,GROUP,GENDER,AGE,RIGHT HANDED?,HEALTHY*,GLASSES,SMOKER,MEDICAL TREATMENT,MEDICINE / SUPPLEMENTS,TRANSFER RATE,TEST TYPE,TEST NAME,NUMBER OF EVENTS,EVENT DURATION (ms),SESSION DATA,STEADY-STATE TIME (s),TEST DURATION (s)
137,30,A,FEM,22,YES,YES,NO,YES,NO,NO,128,VISUAL,FIVE BOX 1,20,250,A030SB1_1.EDF,5,67
138,30,A,FEM,22,YES,YES,NO,YES,NO,NO,128,VISUAL,FIVE BOX 2,20,250,A030SB2_1.EDF,5,63
139,30,A,FEM,22,YES,YES,NO,YES,NO,NO,128,VISUAL,FIVE BOX 3,20,250,A030SB3_1.EDF,5,60
140,30,A,FEM,22,YES,YES,NO,YES,NO,NO,128,MOTOR IMAGES,HAND SHAKE,6,5000,A030SM1_1.EDF,9,34
141,30,A,FEM,22,YES,YES,NO,YES,NO,NO,128,VISUAL,IMAGE SEARCH,5,250,A030SV1_2.EDF,5,72

In [102]:
#creating a new csv file consisting only of columns that are needed to group
data[['GENDER','TEST TYPE','TEST NAME']].to_csv('X:/stuff/Curneu MedTech/filtered1.csv')